{% extends "orders/base.html" %}
{% block title %}Изменить заказ{% endblock %}

{% block content %}
<h1>Изменить заказ</h1>

{% if order.status == "Cancelled" %}
  <p style="color:#b00020;"><b>Заказ отменён.</b> Изменять нельзя.</p>
{% endif %}

<form method="post">
  {% csrf_token %}

  <div>
    <label>Поставщик</label><br>
    <select name="supplier_id">
      <option value="">(не менять)</option>
      {% for s in suppliers %}
        <option value="{{ s.id }}" {% if s.id == order.supplier.id %}selected{% endif %}>{{ s.name }}</option>
      {% endfor %}
    </select>
  </div>

  <br>

  <div>
    <label>Сумма заказа</label><br>
    <input type="number" step="0.01" name="order_amount" value="{{ order.order_amount }}">
  </div>

  <br>

  <div>
    <label>Валюта заказа</label><br>
    <select name="order_currency">
      <option value="">(не менять)</option>
      <option value="USD" {% if order.order_currency == "USD" %}selected{% endif %}>USD</option>
      <option value="CNY" {% if order.order_currency == "CNY" %}selected{% endif %}>CNY</option>
      <option value="RUB" {% if order.order_currency == "RUB" %}selected{% endif %}>RUB</option>
    </select>
  </div>

  <br>

  <div>
    <label>Статус (редко, на будущее)</label><br>
    <input type="text" name="status" value="{{ order.status }}">
  </div>

  <br><br>

  <button type="submit">Сохранить</button>
</form>
{% endblock %}
